*.dll
*.pdb
*.txt
*.xml
*.cache
*.targets
*.exe
*.rsp
*.exe.config
*.dll.config
*FileListAbsolute.txt
*/obj/

*.suo
#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
Documentation/Help
UpgradeLog.htm
UpgradeLog.XML
LogFiles
HistoryFiles
Presentation/Packages/
us.stackdump
WE-settings.xml
#Nuget
Source/packages/
Source/Product/packages/
!packages/repositories.config
!packages/Microsoft.Bcl.Build.1.0.10/tools/Microsoft.Bcl.Build.targets
*.DotSettings
PublishPackages
Upload/Scorm/
Upload/TinCan/
!Upload/Temp/DontDelete.config
Upload/Temp
[Vv]ersion.txt
/.project

